/* Reset the margin and padding */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    max-width: 80%;
    margin: 0 auto;
}

/* Header style */
#navbar {
    background-color: #a4133c;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    list-style-type: none;
    margin-right: 0.8em;
    display: inline;
}

.nav-item a {
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2em;
}

.nav-item button {
    background-color: #ff4d6d;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.nav-item button:hover {
    background-color: #dc2d4d;
}

.nav-item button:active {
    transform: translateY(3px);
}

#navbar img {
    padding-top: 5px;
}

#navbar img:hover{
    cursor: pointer;
}

.dropdown-content,
.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.5);
    z-index: 1;
}

.dropdown-content a,
.dropdown2-content a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 12px 16px;
}

.dropdown-content a:hover,
.dropdown2-content a:hover {
    background-color: #c5c2c2;
}

.dropdown-content li,
.dropdown2-content li {
    list-style-type: none;
}

.dropdown:hover .dropdown-content,
.dropdown2:hover .dropdown2-content {
    display: block;
}

/* Home Page Styles */
#banner{
    background: url('banner.jpg') no-repeat;
    height: 250px;
    background-size: cover;
    background-position: center;
}

#container-home {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

#col-1 {
    flex: 7;
    margin: 15px 7px 15px 15px;
}

#col-cta {
    background-color: #ffccd58a;
    height: auto;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
}

#col-cta a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#col-cta button {
    display: inline-block;
    background-color: #ff4d6d;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

#col-cta button:hover {
    background-color: #dc2d4d;
}

#col-cta button:active {
    transform: translateY(3px);
}

#col-cta,
#col-testimonial,
#col-2 {
    color:#800f2f;
}

#col-cta span {
    color:#a4133c;
}

#cta-right {
    float: right;
}

#col-testimonial {
    background-color: #ffccd58a;
    height: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}

.testi-head {
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}

.testi-img-group {
    padding: 45px 15px;
}

#col-testimonial button {
    display: block;
    background-color: #ff4d6d;
    margin-bottom: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
}

#col-testimonial a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

#col-testimonial button:hover {
    background-color: #dc2d4d;
}

#col-testimonial button:active {
    transform: translateY(3px);
}

.testi-img-group {
    display: flex;
    flex-wrap: wrap;

}

.testi-img {
    flex: 3;
    padding-left: 10px;
    box-sizing: border-box;
}

.testi-img p {
    text-align: center;
}

#testi-img1 {
    background: url('student4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 5px;
    margin-right: 10px;
}

#testi-img2 {
    background: url('student2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 5px;
    margin-right: 10px;
}

#testi-img3 {
    background: url('student3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 5px;
    margin-right: 10px;
}

#col-2 {
    flex: 3;
    background-color: #ffccd58a;
    margin: 15px 15px 15px 7px;
}

#col2-news-group {
    margin: 15px 10px;
    padding: 10px;
    box-sizing: border-box;
}

#col2-news-group h3 {
    text-align: center;
}

#col2-news-group a {
    text-decoration: none;
    display: block;
    font-size: 0.9em;
    margin: 0 10px;
    padding: 5px;
    box-sizing: border-box;
    color: #800f2f
}

#col2-news-group a:hover {
    color:#ff4d6d;
}

.col2-news {
    flex: 3;
}


#c2-col2 table tr,
#c2-col2 table td {
    padding: 10px 10px;
    box-sizing: border-box;
}

#c2-col2 table {
    margin: 10px;
}

/* Footer Styles */
#container2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #adb5bd;
    max-width: 100%;
    margin: 0 auto;
}

#c2-col1 {
    flex: 7;
    padding-top: 10px;
    box-sizing: border-box;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    line-height: 30px;
}

.footer-link {
    list-style-type: none;
    margin-right: 1.2em;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-link button {
    background-color: #a4133c;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.footer-link button:hover {
    background-color: #ff4d6d;
}

.footer-link button:active {
    transform: translateY(3px);
}

#c2-col2 {
    flex: 3;
}
main {
    margin-bottom: -10px;
}

footer {
    background-color: #a4133c;
    color: white;
    margin-top: 10px;
    padding: 15px;
    text-align: center; 
}

#social-media table {
    margin: 20px 20px 10px 40px;
}

#social-media table caption {
    text-align: left;
    font-weight: bold;
    color: #800f2f;
    padding-bottom: 5px;
    box-sizing:border-box;
}

#social-media tr td {
    padding: 5px;
    box-sizing: border-box;
}

#social-media a:hover {
    filter: opacity(50%);
}

/* About Us Page Styles */
#container-about {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-about h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-about hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
    width: 95%;
}

.allrows {
    width: 95%;
    margin: 0 auto;
}

#firstrow,
#secondrow,
#thirdrow,
#fourthrow {
    display: flex;
    margin: 0 auto;
    padding: 10px;
}


#firstrow img,
#thirdrow img {
    padding-right: 10px;
    box-sizing: border-box;
}

#secondrow img,
#fourthrow img {
    padding-left: 10px;
    box-sizing: border-box;
}

.text-about {
    background-color: #ffccd58a;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

/* Course Page Styles */
#container-course {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-course h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-course hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
    width: 95%;
}

#course_outcome {
    background-color: #ffccd58a;
    width: 95%;
    margin: 0 0 10px 30px;
    padding: 10px 15px;
    box-sizing: border-box;
}

#course_outcome li {
    line-height: 25px;
}

#beginnerposter {
    background: url('beginnerposter.png') no-repeat;
    background-size: contain;
    height: 300px;
}

#intermediateposter {
    background: url('intermediateposter.png') no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
}

#advancedposter {
    background: url('advancedposter.png') no-repeat;
    background-size: contain;
    height: 300px;
}

#course_table table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-spacing: 10px;
}

#course_table thead {
    background-color: #800f2f;
    color: #fff;
}

#course_table thead th {
    padding: 15px;
    box-sizing: border-box;
}

#course_table th,
#course_table tr,
#course_table td {
    padding: 10px 5px;
    box-sizing: border-box;
}

#course_table tbody th {
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
    background-color:#ffcdcd;
    color:#800f2f;
}

#course_table td {
    color:#800f2f;
    padding: 20px;
    text-align: center;
    background-color: #ffcdcd;
}

/* Contact Page Styles */
#container-contact {
    background-color: #f1f1f1;
    margin-top: -20px;
    padding-bottom: 20px;
}

#container-contact h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-contact hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
    width: 95%;
}

#contact_info {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffccd58a;
    height:350px;
    width: 95%;
    margin: 0 auto;
}

#contact_table {
    flex: 5;
    margin: 60px 10px;
    padding: 10px;
    box-sizing: border-box;
}

#contact_map {
    flex: 5;
    margin-top: 25px;
    margin-right: 20px;
}

#contact_table tr,
#contact_table td {
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 1em;
}

#enquiry_form {
    background-color: #ffccd58a;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

:modal {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 20px;
}

/* #enquiry-popup::backdrop {
    background-color: #800f2f;
    opacity: .2;
}  */

#enquiry-popup button {
    background-color: #a4133c;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

#enquiry-popup button:hover {
    background-color: #ff4d6d;
}

#enquiry-popup button:active {
    transform: translateY(3px);
}

/* FAQ Page Styles */
#container-faq {
    background-color: #f1f1f1;
    margin-top: -20px;
    padding-bottom: 20px;
}

#container-faq h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-faq hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
}

.questions{
    background-color: #ffccd58a;
    width: 90%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;
}

.questions h3 {
    color:#800f2f;
    padding-left: 10px;
}

.questions p {
    padding-left: 10px;
    line-height: 1.8em;
}


/* Enroll Page Styles */
#container-enroll,
#container-register {
    margin-top: -20px;
    background-color:  #f1f1f1;
}

#container-register {
    padding-bottom: 20px;
    box-sizing: border-box;
}

#container-enroll h1,
#container-register h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-enroll hr,
#container-register hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
    width: 90%;
}

#container-register h2 {
    color: #800f2f;
    padding-left: 40px;
    box-sizing: border-box;
}

#registration-details {
    width: 90%;
    margin: 0 auto;
    background-color: #ffccd58a;
    padding: 15px 10px;
    box-sizing: border-box;
    line-height: 30px;
}

#registration-details h4 {
    padding-left: 20px;
    box-sizing: border-box;
}

#registration-details p {
    font-size: 0.8em;
    font-style: italic;
    padding-left: 20px;
    box-sizing: border-box;
    color:#646262;
}

#registrationform{
    background-color: #ffccd58a;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group span {
    font-size: 0.8em;
    font-weight: normal;
    color: #393646;
}

.form-group .error {
    color: red;
    font-weight: normal !important;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 3px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select,
.form-group textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
    outline: none;
}

.form-group textarea {
    height: 200px;
}

.form-group button {
    background-color: #a4133c;
    color: #fff;
    font-size: 1em;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #ff4d6d;
}

.form-group button:active {
    background-color: #dc2d4d;
    transform: translateY(3px);
}

#cranepic{
    background: url('paper_crane.png') no-repeat;
    background-size: 350px;
    background-position: center;
    height: 250px;
}

/* Testimonials Page Styles */
#container-testimonial {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-testimonial h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-testimonial hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
}

#testimonial1,
#testimonial2,
#testimonial3,
#testimonial4 {
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

#testimonial1 img,
#testimonial3 img {
    padding-right: 10px;
    box-sizing: border-box;
}

#testimonial2 img,
#testimonial4 img {
    padding-left: 10px;
    box-sizing: border-box;
}

/* News Page Styles */
#container-news,
#container-event {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-news h2,
#container-event h2 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-news hr,
#container-event hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
    width: 95%;
}

.post-date {
    color: #646262;
    font-style: italic;
    line-height: 10px;
    margin: 20px 0;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 0.8em;
}

#event-text1 span {
    font-size: 1.3em;
    font-weight: bold;
    color:#800f2f;
    display: inline-block;
}

#newspic {
    background: url('news.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 350px;
}

/* #news-details {
    width: 90%;
    margin: 0 auto;
    background-color: #ffccd58a;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
} */

#news-text {
    background-color: rgba(255,255,255,0.5);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-indent: 10px;
    line-height: 1.8em;
}

#news-text span {
    font-weight: bold;
    font-size: 1.5em;
    color: #800f2f;
}

#news-text1,
#news-text2,
#news-text3,
#event-text1 {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    text-indent: 10px;
    line-height: 1.8em;
}

#news-text2 a {
    color:#800f2f;
}

#news-text2 a:hover {
    color: #ff4d6d;
}

#news-text2 ul li {
    list-style-type: none;
}

#event-text1 img {
    display: block;
    margin: 0 auto;
}

#event-text1 figure {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}  

/* News and Events Page Styles */
#container-newsandevents {
    background-color: #f1f1f1;
    padding-top: 20px;
}

#container-newsandevents h2 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#newsandevents {
    background-color: #ffccd58a;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

#newsandevents h3 {
    padding-left: 20px;
    box-sizing: border-box;
    color: #800f2f;
}

#newsandevents a {
    text-decoration: none;
    display: block;
    color:#800f2f;
    padding: 5px 10px;
    box-sizing: border-box;
}

#newsandevents a:hover {
    color: #ff4d6d;
}

.news,
.events {
    background-color: rgba(255,255,255,0.5);
    padding: 20px 15px;
    box-sizing: border-box;
}

/* Gallery Page Styles */
#container-gallery {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-gallery h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-gallery hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
}

#gallery-box {
    background-color: #ffccd58a;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    height: auto;
}

#gallery1 {
    flex: 5;
    margin: 0 5px 0 50px;
    text-align: center;
    font-weight: bold;
    color:#800f2f;
}

#lifeatedu {
    background: url('student_life.jpg') no-repeat;
    background-size: contain;
    height: 300px;
    cursor: pointer;
}

#gallery2 {
    flex: 5;
    margin: 0 5px 0 50px;
    text-align: center;
    font-weight: bold;
    color: #800f2f;
}

#events {
    background: url('events.jpg') no-repeat;
    background-size: contain;
    height: 300px;
    cursor: pointer;
}

/* Sitemap Page Styles */
#container-sitemap {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-sitemap h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-sitemap hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
}

#container-sitemap a {
    text-decoration: none;
}

.li-head {
    list-style-type: none;
}

.li-body {
    list-style-type: disc;
}

.li-head a {
    font-weight: bold;
    color: #800f2f;
}

.li-head a:hover {
    color: #ff4d6d;
}

#sitemap-box {
    display: flex;
    flex-wrap: wrap;
}

#col1-sitemap {
    flex: 6;
    background-color: #ffccd58a;
    margin: 15px 20px 30px 50px;
    padding: 20px;
    box-sizing: border-box;
}

#col1-sitemap h2 {
    color: #800f2f;
    padding-left: 25px;
    box-sizing: border-box;
}

#col2-sitemap {
    flex: 4;
    background: url('lady.png') no-repeat;
    background-size: contain;
    background-position: center;
    height: 450px;
    margin: 15px;
}