/* FAQ Page Styles */
#container-faq {
    background-color: #f1f1f1;
    margin-top: -20px;
    padding-bottom: 20px;
}

#container-faq h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-faq hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
}

.questions{
    background-color: #ffccd58a;
    width: 90%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;
}

.questions h3 {
    color:#800f2f;
    padding-left: 10px;
}

.questions p {
    padding-left: 10px;
    line-height: 1.8em;
}


/* CSS code for responsive design */

/* Mobile devices */
@media screen and (max-width: 767px) {
    /* Adjust the styling for smaller screens */
    #container-faq h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .questions {
        font-size: 0.8em;
    }
  }

  /* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Adjust the styling for tablet-sized screens */
    #container-faq h1 {
        font-size: 2em;
    }
    .questions {
        font-size: 0.8em;
    }
  }

  /* Desktop devices */
@media screen and (min-width: 1024px) {
    /* Adjust the styling for larger screens */
    #container-faq h1 {
        font-size: 2em;
    }
    .questions {
        font-size: 1em;
    }
  }
