/* Gallery Page Styles */
#container-gallery {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-gallery h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-gallery hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
}

#gallery-box {
    background-color: #ffccd58a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    height: auto;
}

#gallery-box figure {
    margin: 10px 20px;
}

#gallery-box figcaption {
    text-align: center;
}

#banner{
    background: url('banner.jpg') no-repeat;
    height: 250px;
    background-size: cover;
    background-position: center;
}

/* CSS code for responsive design */

/* Extra small screen devices */
@media screen and (max-width: 450px) {
    /* Adjust the styling for smaller screens */
    #gallery-box img {
        width: 80%;
        height: 80%;
        display: block;
        margin: 0 auto;
    }
    #container-gallery h1 {
        font-size: 1.5em;
        padding-bottom: 5px;
    }
  }

/* Mobile devices */
@media screen and (min-width: 451px) and (max-width: 767px) {
    /* Adjust the styling for smaller screens */
    
  }

  /* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Adjust the styling for tablet-sized screens */
    
  }

  /* Desktop devices */
@media screen and (min-width: 1024px) {
    /* Adjust the styling for larger screens */
    
  }
