/* Sitemap Page Styles */
#container-sitemap {
    background-color: #f1f1f1;
    margin-top: -20px;
}

#container-sitemap h1 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-sitemap hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
}

#container-sitemap a {
    text-decoration: none;
}

.li-head {
    list-style-type: none;
}

.li-body {
    list-style-type: disc;
}

.li-head a {
    font-weight: bold;
    color: #800f2f;
}

.li-head a:hover {
    color: #ff4d6d;
}

#sitemap-box {
    display: flex;
    flex-wrap: wrap;
}

#col1-sitemap {
    flex: 6;
    background-color: #ffccd58a;
    margin: 15px 20px 30px 50px;
    padding: 20px;
    box-sizing: border-box;
}

#col1-sitemap h2 {
    color: #800f2f;
    padding-left: 25px;
    box-sizing: border-box;
}

#col2-sitemap {
    flex: 4;
    background: url('lady.png') no-repeat;
    background-size: contain;
    background-position: center;
    height: 450px;
    margin: 15px;
}

#banner{
    background: url('banner.jpg') no-repeat;
    height: 250px;
    background-size: cover;
    background-position: center;
}


/* CSS code for responsive design */

/* Mobile devices */
@media screen and (max-width: 767px) {
    /* Adjust the styling for smaller screens */
    #container-sitemap h1 {
        font-size: 1.5em;
    }
    #col2-sitemap {
        display: none;
    }
    #col1-sitemap {
        margin: 15px 30px 30px 30px;
    }
  }

  /* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Adjust the styling for tablet-sized screens */
    #container-sitemap h1 {
        font-size: 2em;
    }
  }

  /* Desktop devices */
@media screen and (min-width: 1024px) {
    /* Adjust the styling for larger screens */
    #container-sitemap h1 {
        font-size: 2em;
    }
  }
