/* Enroll Page Styles */
#container-register {
    margin-top: -20px;
    background-color:  #f1f1f1;
    height: 800px;
}

#container-register h1,
#container-register h2 {
    color:#a4133c;
    height: 50px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-left: 40px;
}

#container-register hr {
    border: 1px solid #a4133c;
    margin-bottom: 15px;
    outline: none;
    width: 90%;
}

#registration-details {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffccd58a;
    padding: 15px 10px;
    box-sizing: border-box;
    line-height: 30px;
}

#registration-details h4 {
    padding-left: 20px;
    box-sizing: border-box;
}

#registration-details p {
    font-size: 0.8em;
    font-style: italic;
    padding-left: 20px;
    box-sizing: border-box;
    color:#646262;
}


/* CSS code for responsive design */

/* Mobile devices */
@media screen and (max-width: 767px) {
    /* Adjust the styling for smaller screens */
    #container-register h1 {
        font-size: 1.5em;
        padding-bottom: 5px;
    }
    #container-register h2 {
        font-size: 1em;
    }
    #registration-details {
        font-size: 0.8em;
    }
  }

  /* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Adjust the styling for tablet-sized screens */
    #container-register h1 {
        font-size: 2em;
    }
    #container-register h2 {
        font-size: 1.2em;
    }
    #registration-details {
        font-size: 1em;
    }
  }

  /* Desktop devices */
@media screen and (min-width: 1024px) {
    /* Adjust the styling for larger screens */
    #container-register h1 {
        font-size: 2em;
    }
    #container-register h2 {
        font-size: 1.5em;
    }
    #registration-details {
        font-size: 1em;
    }
  }
